<div [ngStyle]="modalVisible" id="myModal"  class="modal modal-sm">
  <!-- Modal content -->
  <div class="modal-content">

    <span  class="close" (click)="onCloseModal('pix-modal')">&times;</span>
    <div class="card">
      <div class="card-body">
        <div id="loading-modal" class="loading" >
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div [ngStyle]="pixModal" class="row">
          <div class="offset-4 col-4">
            <img height="200" id="qr-code-pix" src="" alt="">
          </div>
          <div style="margin-top: 30px" class="row ">
            <div class="offset-2 col-8">
              <div class="input-group">
                <input for="recipient-name" readonly="" id="code-qr-code"
                       class="form-control text-center center_pix_code">
                <span id="copy-btn" class="input-group-addon btn btn-primary" (click)="copiar()">
                    Copiar
                </span>
              </div>

            </div>
          </div>
        </div>
        <div [ngStyle]="cardModal" class="row">
          <app-payments></app-payments>
        </div>

      </div>
    </div>
  </div>
</div>



