<div id="myModal" [ngStyle]="pixModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span  class="close" (click)="onCloseModal('pix-modal')">&times;</span>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="offset-4 col-4">
            <img height="200" id="qr-code-pix" src="" alt="">
          </div>
          <div style="margin-top: 30px" class="row ">
            <div class="offset-2 col-8">
              <div class="input-group">
                <input for="recipient-name" readonly="" id="code-qr-code"
                       class="form-control text-center center_pix_code">
                <span class="input-group-addon btn btn-primary" id="copy">
                    Copiar
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="cardModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="onCloseModal('card-modal')">&times;</span>
    <app-payments></app-payments>
  </div>

</div>

