<div class="card">
  <div class="card-body">
    <form id="form-checkout">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div id="form-checkout__cardNumber" class="form-control"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div id="form-checkout__expirationDate" class="form-control"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div id="form-checkout__securityCode" class="form-control"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" id="form-checkout__cardholderName"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select id="form-checkout__issuer" class="form-control"></select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select id="form-checkout__installments" class="form-control"></select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select id="form-checkout__identificationType" class="form-control"></select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control" type="text" id="form-checkout__identificationNumber"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="email" id="form-checkout__cardholderEmail" class="form-control">
          </div>
        </div>

      </div>
      <button type="submit" formaction="form-checkout" class="btn btn-primary" id="form-checkout__submit">
        Realizar Pagamento
        <span id="loading-spinner" class="spinner-border d-none spinner-border-sm" role="status" aria-hidden="true"></span>

      </button>

    </form>
  </div>
</div>

